/*
 *  COLOR PALETTE: https://colorhunt.co/palette/000000323232ff1e56ffac41
 *  MANUAL DEPENDENCIES
 *
 *  --tertiary-color:
 *  dp.png (frame), icon pack
 *
 */

:root {
  --primary-color: #000000;
  --secondary-color: #323232;
  --tertiary-color: #ffac41;
  --quaternary-color: #ff1e56;
  --quaternary-color-translucent: #ff1e568f;
  --shade-black: #00000050;
}

body {
  background-color: #000;
  color: var(--tertiary-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--tertiary-color);
}

.container-fluid {
  background-color: #000;
}

body::-webkit-scrollbar {
  width: 0.1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 var(--tertiary-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--tertiary-color);
}

.nav-link {
  z-index: 1;
}

.nav-item {
  z-index: 1;
}

.double-down {
  color: var(--tertiary-color);
  position: absolute;
  left: calc( 50% - 12px);
  bottom: 2em;
}

.double-down:hover {
  color: #fff;
}

@media only screen and (max-width: 600px) {
 .nav-item {
  padding-left: 1em;
  border: 1px solid var(--tertiary-color-translucent);
  background-color: var(--translucent-black);
 }
 .navbar-nav .ms-md-auto {
  padding-left: 1em;
  background-color: var(--translucent-black);
 }
}

.navbar-brand {
  color: var(--tertiary-color);
}

.navbar.bg-primary {
  border: 1px solid #282828;
}

.navbar.bg-dark {
  background-color: #000;
  border-bottom: 1px solid var(--tertiary-color);
}

.nav-item {
  color: var(--tertiary-color);
}

.nav-link {
  color: var(--tertiary-color);
}

#navbar-link {
  color: var(--tertiary-color);
}

#navbar-link:hover {
  color: #fff;
}

.card-header, .card-body, .card-title {
  color: var(--tertiary-color);
}

.scrolled-down{
  transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
  transform:translateY(0); transition: all 0.3s ease-in-out;
}

svg {
  fill:var(--tertiary-color);
}
svg:hover {
  fill:#fff;
}

.container-fluid {
  background-color: #000000;
}

#scroll {
  position:fixed;
  right:10px;
  bottom:10px;
  cursor:pointer;
  width:50px;
  height:50px;
  background-color:#3498db;
  text-indent:-9999px;
  display:none;
  -webkit-border-radius:60px;
  -moz-border-radius:60px;
  border-radius:60px
}

#scroll span {
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-8px;
  margin-top:-12px;
  height:0;
  width:0;
  border:8px solid transparent;
  border-bottom-color:#ffffff;
}

#scroll:hover {
  background-color:#3498dbcc
}

  /*
    Flaticon icon font: Flaticon
    Creation date: 26/08/2019 16:52
    */

    @font-face {
      font-family: "Flaticon";
      src: url("../fonts/Flaticon.eot");
      src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
           url("../fonts/Flaticon.woff2") format("woff2"),
           url("../fonts/Flaticon.woff") format("woff"),
           url("../fonts/Flaticon.ttf") format("truetype"),
           url("../fonts/Flaticon.svg#Flaticon") format("svg");
      font-weight: normal;
      font-style: normal;
    }
    
    @media screen and (-webkit-min-device-pixel-ratio:0) {
      @font-face {
        font-family: "Flaticon";
        src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
      }
    }
    
    [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
    [class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
      font-family: Flaticon;
      font-size: 14px;
      font-style: normal;
      margin-left: 0px;
    }
    
    .flaticon-arrow-pointing-to-up:before { content: "\f13c"; }

    #back-to-top {
      bottom: 10px;
      right: 10px;
      position: fixed;
      visibility: hidden;
      z-index: 1;
    }

    .dropdown-menu {
      background-color: var(--translucent-black);
      border: 1px solid var(--tertiary-color);
    }

    .btn-outline-primary {
      color: var(--tertiary-color);
      border-color: var(--tertiary-color);
      font-weight: bold;
    }

    a> .btn-outline-primary:hover {
      background-color: var(--tertiary-color);
      color: #000000;
      border-color: var(--tertiary-color);
    }

    .card {
      border: 1px var(--tertiary-color) solid;
      background-color: var(--primary-color);
    }

    .bg-primary {
      background-color: var(--translucent-black);
    }

    .card-outline-primary {
      color: var(--tertiary-color);
      border-color: var(--tertiary-color);
    }

    .card-link :hover {
      color: #000;
      background-color: var(--tertiary-color);
    }

    h3 {
      color: var(--tertiary-color);
    }



    [data-tooltip] {
      display: inline-block;/*bug fix*/
      position: relative;
      text-decoration: none;
    }
    [data-tooltip]:after {
      content: attr(data-tooltip);
      position: absolute;
      top: 130%;
      right: 20%;
      background: var(--tertiary-color);
      padding: 5px 15px;
      color: #000;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px;
      white-space: nowrap;
      opacity: 0;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      font-size: 12px;
      font-weight: bold;
    }
    [data-tooltip]:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-bottom: 10px solid var(--tertiary-color);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      opacity: 0;
      right: 30%;
      top: 120%;
    }
    [data-tooltip]:hover:after {
      bottom: 100%;
    }
    [data-tooltip]:hover:before {
      bottom: 70%;
    }
    [data-tooltip]:hover:after,
    [data-tooltip]:hover:before {
      opacity: 1;
    }

    .jumbotron {
      display:block;
      width: 100%;
      margin: 0px auto;
    }

    .top-jumbotron {
      height: 30em;
      padding-top: 10em;
      padding-bottom: 5em;
      border-radius: 10px;
      background-image: url(media/img.jpg);
      background-size: cover;
      margin-bottom: 10em;
    }

  @media only screen and (max-width: 600px) {
    .top-jumbotron {
      background-image: url(media/img_small.jpg);
    }
  }

    .jumbotron-caption {
      position: absolute;
      bottom: 18%;
      right: 2px;
      font-size: 10px;
      color: var(--tertiary-color-translucent);
    }

    @media only screen and (min-width: 600.01px) {
      .jumbotron-caption-small {
        display: none;
      }
    }

  @media only screen and (max-width: 600px) {
    .jumbotron-caption {
      display: none;
    }
    .jumbotron-caption-small {
      position: absolute;
      bottom: 22%;
      right: 2px;
      font-size: 10px;
      color: var(--tertiary-color-translucent);
    }
  }

    footer {
      background-image: url(media/favicon_io/favicon-16x16.png);
      height:16px;
    }

    .footer-text {
      padding-bottom: 1em;
      color: var(--tertiary-color);
      display: inline-block;
      margin-top: 1.5em;
      text-align: center;
      margin-left: 0px;
      margin-right: 0px;
    }

    .btn {
      font-weight: bold;
    }

    .btn:hover {
      color: var(--tertiary-color);
    }    

    figure img {
      vertical-align: top;
    }

    figure figcaption {
      vertical-align: bottom;
      text-align: center;
      margin-top: 6%;
      background-color: var(--shade-black);
    }

    figure {
      position: absolute;
      max-width: 200px;
      max-height: 200px;
      bottom: calc(65%);
      left: calc(50% - 100px);
    }

    .display-picture, .jumbotron-display-picture {
      max-width: 200px;
      height: auto;
      border-bottom-left-radius: 100%;
      border-bottom-right-radius: 100%;
      border-top-left-radius: 100%;
      border-top-right-radius: 100%;
    }
    
    .jumbotron-display-picture-caption {
      padding: 2px;
      text-align: center;
      font-size: 2em;
      white-space: nowrap;
      min-width: fit-content;
      border-radius: 0.25rem;
      border-bottom-left-radius: 0rem;
      border-bottom-right-radius: 0rem;
    }    

    .jumbotron-description {
      padding-top: 2px;
      text-align: center;
      position: relative;
      top: 23%;
      border-radius: 0.25rem;
      background-color: var(--shade-black);
    }

    @media only screen and (max-width: 600px) {
      figure figcaption {
        background-color: var(shade-black);
      }
      .jumbotron-description {
        background-color: var(--shade-black);
      }
    }

    /*
    .display-picture, .jumbotron-display-picture {
      position: absolute;
      max-width: 200px;
      height: auto;
      bottom: 50%;
      left: calc(50% - 100px); //* Image width is 287px 
      border-bottom-left-radius: 100%;
      border-bottom-right-radius: 100%;
      border-top-left-radius: 100%;
      border-top-right-radius: 100%;
    }

    .jumbotron-display-picture-caption {
      text-align: center;
    }
    */
