:root {
  --main-font-color: #cce7fc;
}

body {
  background-color: #000;
  color: var(--main-font-color);
}

.container-fluid {
  background-color: #000;
}

body::-webkit-scrollbar {
  width:0.3em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 var(--main-font-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--main-font-color);
}

.card-header, .card-body{
  color: var(--main-font-color);
}

svg {
  fill:var(--main-font-color);
}
svg:hover {
  fill:#fff;
}

.container-fluid {
  background-color: #000000;
}

#scroll {
  position:fixed;
  right:10px;
  bottom:10px;
  cursor:pointer;
  width:50px;
  height:50px;
  background-color:#3498db;
  text-indent:-9999px;
  display:none;
  -webkit-border-radius:60px;
  -moz-border-radius:60px;
  border-radius:60px
}

#scroll span {
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-8px;
  margin-top:-12px;
  height:0;
  width:0;
  border:8px solid transparent;
  border-bottom-color:#ffffff;
}

#scroll:hover {
  background-color:#3498dbcc
}

  /*
    Flaticon icon font: Flaticon
    Creation date: 26/08/2019 16:52
    */

    @font-face {
      font-family: "Flaticon";
      src: url("../fonts/Flaticon.eot");
      src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
           url("../fonts/Flaticon.woff2") format("woff2"),
           url("../fonts/Flaticon.woff") format("woff"),
           url("../fonts/Flaticon.ttf") format("truetype"),
           url("../fonts/Flaticon.svg#Flaticon") format("svg");
      font-weight: normal;
      font-style: normal;
    }
    
    @media screen and (-webkit-min-device-pixel-ratio:0) {
      @font-face {
        font-family: "Flaticon";
        src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
      }
    }
    
    [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
    [class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
      font-family: Flaticon;
      font-size: 14px;
      font-style: normal;
      margin-left: 0px;
    }
    
    .flaticon-arrow-pointing-to-up:before { content: "\f13c"; }

    #back-to-top {
      bottom: 10px;
      right: 10px;
      position: fixed;
    }